In [2]:
from pyspark import SparkConf, SparkContext

In [3]:
# create SparkConf and SparkContext
conf = SparkConf().setMaster("local").setAppName("hellow_9313")
sc = SparkContext(conf = conf)

In [4]:
raw_data = [("Joseph", "Maths", 83), ("Joseph", "Physics", 74), ("Joseph", "Chemistry", 91), ("Joseph", "Biology", 82), ("Jimmy", "Maths", 69), ("Jimmy", "Physics", 62), ("Jimmy", "Chemistry", 97), ("Jimmy", "Biology", 80), ("Tina", "Maths", 78), ("Tina", "Physics", 73), ("Tina", "Chemistry", 68), ("Tina", "Biology", 87), ("Thomas", "Maths", 87), ("Thomas", "Physics", 93), ("Thomas", "Chemistry", 91), ("Thomas", "Biology", 74)]

In [5]:
rdd_1 = sc.parallelize(raw_data)

In [6]:
rdd_2 = rdd_1.map(lambda x:(x[0], x[2]))
rdd_1.map(lambda x:(x[0], x[2])).collect()

[('Joseph', 83),
 ('Joseph', 74),
 ('Joseph', 91),
 ('Joseph', 82),
 ('Jimmy', 69),
 ('Jimmy', 62),
 ('Jimmy', 97),
 ('Jimmy', 80),
 ('Tina', 78),
 ('Tina', 73),
 ('Tina', 68),
 ('Tina', 87),
 ('Thomas', 87),
 ('Thomas', 93),
 ('Thomas', 91),
 ('Thomas', 74)]

In [7]:
rdd_3 = rdd_2.reduceByKey(lambda x, y:max(x, y))
rdd_2.reduceByKey(lambda x, y:max(x, y)).collect()

[('Joseph', 91), ('Jimmy', 97), ('Tina', 87), ('Thomas', 93)]

In [8]:
rdd_4 = rdd_2.reduceByKey(lambda x, y:min(x, y))
rdd_2.reduceByKey(lambda x, y:min(x, y)).collect()

[('Joseph', 74), ('Jimmy', 62), ('Tina', 68), ('Thomas', 74)]

In [10]:
rdd_5 = rdd_3.join(rdd_4)
rdd_3.join(rdd_4).collect()

[('Joseph', (91, 74)),
 ('Jimmy', (97, 62)),
 ('Tina', (87, 68)),
 ('Thomas', (93, 74))]

In [11]:
rdd_6 = rdd_5.map(lambda x: (x[0], x[1][0]+x[1][1]))
rdd_5.map(lambda x: (x[0], x[1][0]+x[1][1])).collect()

[('Joseph', 165), ('Jimmy', 159), ('Tina', 155), ('Thomas', 167)]

In [12]:
rdd_6.collect()

[('Joseph', 165), ('Jimmy', 159), ('Tina', 155), ('Thomas', 167)]